build
GSFancyText/docs/Doxygen/output/*
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata/*
*.xcodeproj/*/xcuserdata/*
*.xcodeproj/project.xcworkspace/*
*.pyc
*.xcuserstate
*.swp
*~.nib
.DS_Store
test-reports


